.likeLine{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1rem;
    /* position: relative; */
    top:-8vh;
}
.like{
font-size: 0.8rem;
}
.likeCount{
padding-left: 1vw;
}
.textContainer{
}
.commentThread{

    width: 60vw;
    height: fit-content;
}
.makeComment{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 58vw;
    height: 1rem;
    margin: 1vh 0;
}
.textArea{
    margin-right: 1vw;
}