.iconLayer{
    position: absolute;
    top: 40vh;
    width:68vw;
    height:5vw;
    display: flex;
    justify-content: space-between;
    padding:0 0.5vw;
}
.leftIcon {

}
.rightIcon {

}
.groupContainer{
    height: fit-content;
    width:60vw;
    display: flex;
    position:relative;
}
@keyframes slide {
    from {
      left: var(--fromLeft);
    }
    to {
      left: var(--toLeft);
    }
  }
.card{
  position: absolute;
  top: 32.5vh;
  left:-19vw;
}
@media screen and (max-width: 768px) {
  .card{
    display: none;
  }
}
  
